.container {
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.container > div{
    background-color: black;
    margin: 10px;
    padding: 10px;
}

p {
    font-size: 25px;
    color: deepskyblue;
    padding-left: 20px;
    text-align: center;
    font-family: cursive;
}

h1{
    font-size: 35px;
    color: darkorange;
    padding-left: 150px;
    font-family: cursive;
    font-style: oblique;
}

.menu li{
    display: inline;
    padding: 50px;
    padding-left: 300px;
}

.menu li a{
    font-size: 22px;
    color: deeppink;
}

.menu li a:hover{
    color:greenyellow
}
