.container {
    display: flex;
}

.container > div{
    background-color: black;
    margin: 10px;
    padding: 10px;
}

p {
    font-size: 25px;
    color: rgb(250, 162, 0);
    padding: 30px;
}

.container > div1{
    background-color: black;
    align-items: flex-end;
    border: black;
}




