.container {
    display: flex;
    justify-content: center;
}

.container > div{
    background-color: black;
    margin: 10px;
    padding: 10px;
}

p {
    font-size: 25px;
    color: deepskyblue;
    padding-left: 20px;
    text-align: center;
    
}

h1{
    font-size: 35px;
    color: royalblue;
    padding-left: 150px;
}



